In [1]:
# DATA PREPROCESSING DI COLAB
!pip install pyspark

import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Data sample dari modul
data_kotor = [
    (1, 'Budi Susanto', 25, 5500000, 'L', '2022-01-15', 'Jakarta', 'Transaksi berhasil'),
    (2, 'Ani Lestari', None, 8000000, 'P', '2022-02-20', 'Bandung', 'Pengiriman cepat'),
    (3, 'Candra Wijaya', 35, 12000000, 'L', '2022-01-18', 'Surabaya', 'Sangat puas'),
    (4, 'Dewi Anggraini', 22, 4800000, 'P', '2022-03-10', 'JKT', 'Barang diterima'),
    (5, 'Budi Susanto', 25, 5500000, 'L', '2022-01-15', 'Jakarta', 'Transaksi berhasil')  # duplikat
]

# Convert ke Pandas DataFrame dulu
df = pd.DataFrame(data_kotor, columns=['id', 'nama', 'usia', 'gaji', 'jk', 'tgl', 'kota', 'ulasan'])
print("DATA AWAL:")
print(df)

# Data Cleaning
print("\n=== DATA CLEANING ===")
# Handle missing values
df['usia'] = df['usia'].fillna(df['usia'].mean())
df['ulasan'] = df['ulasan'].fillna('Tidak ada ulasan')

# Hapus duplikat
df = df.drop_duplicates()

# Standardisasi kota
df['kota'] = df['kota'].replace('JKT', 'Jakarta')

print("DATA SETELAH CLEANING:")
print(df)

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
DATA AWAL:
   id            nama  usia      gaji jk         tgl      kota  \
0   1    Budi Susanto  25.0   5500000  L  2022-01-15   Jakarta
1   2     Ani Lestari   NaN   8000000  P  2022-02-20   Bandung
2   3   Candra Wijaya  35.0  12000000  L  2022-01-18  Surabaya
3   4  Dewi Anggraini  22.0   4800000  P  2022-03-10       JKT
4   5    Budi Susanto  25.0   5500000  L  2022-01-15   Jakarta

               ulasan
0  Transaksi berhasil
1    Pengiriman cepat
2         Sangat puas
3     Barang diterima
4  Transaksi berhasil

=== DATA CLEANING ===
DATA SETELAH CLEANING:
   id            nama   usia      gaji jk         tgl      kota  \
0   1    Budi Susanto  25.00   5500000  L  2022-01-15   Jakarta
1   2     Ani Lestari  26.75   8000000  P  2022-02-20   Bandung
2   3   Candra Wijaya  35.00  12000000  L  2022-01-18  Surabaya
3   4  Dewi Anggraini  22.00   4800000  P  2022-03-10   Jakarta
4   5    Budi Susanto  25.00   5500000  L  2022-01-15   Jakarta

               ulasan
0  Transaksi berhasil
1    Pengiriman cepat
2         Sangat puas
3     Barang diterima
4  Transaksi berhasil